

<div class="span6 offset5">

	<div class="boxy">


		<h1 class= "custom-font"> Hi, I am Rob</h1>


		<p class= "custom-font">I'm having a ton of fun learning rails, installing was a pain in the ass!</p>
		<%= link_to('Check out my App', '#', :class=> 'btn btn-warning btn-large')%>

	</div>

</div>