

<div class="span6 offset5">

	<div class="boxy">


		<h1 class= "custom-font text-center"> Welcome to Hell</h1>


		<p class= "custom-font text-center">We hope you enjoy your visit, you deserve it!</p>
		<%= link_to('This is a Button', '#', :class=> 'btn btn-warning btn-large')%>

	</div>

</div>